@font-face {
  font-family: Intro;
  src: url(/assets/fonts/IntroHeadRBase.otf);
}

@font-face {
  font-family: Helvetica;
  src: url(/assets/fonts/HelveticaNeueCyr-Light.ttf);
}

body{
    margin: 0px;
    padding:0px;
     font-family: Helvetica;
}

header{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(21vh, auto);
    background-image: url(../assets/img/ELEMENTOS/Grupo63.jpg);
    background-position: center bottom;
    background-size: cover;
    padding: 0px;       
}

.item1{
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.item2{
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 8 / 13;
  grid-row: 1 / 2;
   
}

.item3{
    display: flex;
    grid-column: 2 / 8;
    grid-row: 2 / 5;
    padding-top: 30px;
    color:white;
     font-family: Intro;
    font-size: 6rem;
    line-height: 90px;
}

.item3 p{
    margin: 0px;
    padding: 0px;
}

.item4{
      display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 8 / 12;
  grid-row: 2 / 5;
  
}

.menu{
 
    background: transparent;
    color: white;
    font-weight: 300;
    padding-right: 25px;
    padding-left:25px;
    font-size: 24px;
    border: solid white 1px;
    cursor: pointer;
}

.menu:hover{
    background: white;
    color: black;
    border: solid black 1px;
}

.logo{
   
    width:  150px;
    height: auto;
}
.frase{
   
   font-size: 7rem;
    
}

.oneday{
    height: 15rem;
}

.viajar{
    color:#D1FA48;
}

.vida{
    color:#2CF4BE;
}

.barraverde{
    display: flex;
    background: #0DE2A6;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
   
}

.barraverde p{
      font-family: Intro;
    font-size: 35px;
    color: black; 
    margin:10px;
    font-weight: bold;
}

.barramaya{
    display: flex;
    background-image: url(/assets/img/ELEMENTOS/Grupo%2061.png);
    background-size: ;
    background-repeat: repeat-x;
    height: 100px;
    
}

.titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
   
}

.titulo p{
      font-family: Intro;
    font-size: 80px;
    color: black; 
    margin:60px;
}

.cards{
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}


.card{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.overlay{
     position: absolute;
     background-color: rgba(0,0,0,0.4);
      height: 286px;
     width: 496px;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.iconos{
 
     width: 496px;
    background: red;
    position: absolute;
  
}

.icono1{
  
    position: absolute;
    right: 20px;
    top:-25px;
}

.icono2{
  
    position: absolute;
    right: 90px;
    top:-25px;
}

.icono3{
  
    position: absolute;
    right: 160px;
    top:-25px;
}


.imgcard{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    height: 286px;
    width: 496px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(/assets/img/ELEMENTOS/descarga.jpg);
}

.imgcard2{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    height: 286px;
    width: 496px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(/assets/img/ELEMENTOS/tepoz.jpg);
}

.imgcard3{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    height: 286px;
    width: 496px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(/assets/img/ELEMENTOS/Teques.jpg);
}

.imgcard4{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    height: 286px;
    width: 496px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(/assets/img/ELEMENTOS/Xochicalco.jpg);
}



.textoscard{
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 20px;
    width: 496px;
    background: #6C605A;
    color: white;
   
}

.texto1{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color:#0DE2A6;
    font-size: 38px;
    font-family: Intro;
    z-index: 1;
    padding-left: 15px;
}

.texto12{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color:#FB3C78;
    font-size: 38px;
    font-family: Intro;
    z-index: 1;
    padding-left: 15px;
}

.texto13{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color:#D1FA48;
    font-size: 38px;
    font-family: Intro;
    z-index: 1;
    padding-left: 15px;
}

.texto14{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color:#FDC505;
    font-size: 38px;
    font-family: Intro;
    z-index: 1;
    padding-left: 15px;
}

.texto2{
     display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color:white;
    font-size: 28px;
    font-family: Intro;
    z-index: 1;
    padding-right: 15px;
}

.textoscard h2{
    padding-left: 10px;
    font-size: 24px;
    font-weight: 100;
    margin: 0px;
    padding-top: 10px;
}

.textoscard p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
}

.botoncard{
    
      background: red;
     width: 496px;
    height: 20px;
}

.botoncard button{
    position: relative;
  background: #918172;
     width: 536px;
    height: 40px;
   left: -20px;
    border-radius: 10px;
  box-shadow: -1px 0px 15px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 15px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 15px -3px rgba(0,0,0,0.75);
    border: none;
    cursor: pointer;
    color: white;
     font-family: Intro;
    font-size: 24px;
    font-weight: 100;
}

.botoncard button:hover{
    background: #31261C;
}

.cuadros{
    
   
    display: grid;
     flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(21vh, auto);
    background: #6C605A;
    padding: 0px;   
    position: relative;
}

.cuadro1{
     grid-column: 1 / 5;
    grid-row: 1 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 80px;
   
  
    
}

.cuadro1 img{
 max-height: 80vh;
     z-index: 2;
}

.cuadro2{
     grid-column: 5 / 9;
    grid-row: 1 / 4;
    display: flex;
     flex-wrap: wrap;
    align-items: center;
     justify-content: center;
   
}

.cuadro2 img{
     max-height: 80vh;
     z-index: 2;
 
}

.cuadro3{
     grid-column: 9 / 13;
    grid-row: 1 / 4;
    display: flex;
     flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 80px;
 
}

.cuadro3 img{
   max-height: 80vh;
    z-index: 2;
}

.textocuadros{
    position: absolute;
    width: 100%;
    height: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
     z-index: 2;
}

.textocuadros p{
    color: white;
      font-family: Intro;
    font-size: 125px;
    text-align: center;
}




.fondo2{
    position: absolute;
    width: 100%;
    height: 100%;
      display: flex;
    justify-content: center;
     align-items: flex-end;
   
 
}

.fondo2v{
    width: 100%;
       background-image: url(/assets/img/ELEMENTOS/Grupo%2061.png), linear-gradient(to right, #E8E8E8, #E8E8E8);
    background-repeat: repeat-x;
  z-index: 1;
    height: 150px;
   
}

.apps{
    width: 100%;
   padding-top: 100px;
    display: grid;
    background: #E8E8E8;
      grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(125px, auto);
    padding-bottom: 100px;
}

.titulosapps{
     grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
     flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Intro;
    font-size: 42px;
    font-weight: bold;
}  

.textosapps{
     grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
     flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
     font-family: Intro;
    font-size: 24px;
}

.logosapps{
     grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
     flex-wrap: wrap;
    width: 100%;
     justify-content: center;
    align-items: center;
}

.logosapps img{
    width: 30%;
}

footer{
    width: 100%;
    display: grid;
    background: ;
      grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(80px, auto);
     padding-top: 100px;
}

.titulofooter{
     grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
     flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Intro;
    font-size: 24px;
    font-weight: bold;
} 


.logosfooter{
     grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
     flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
 
} 

.logosfooter img{
    margin: 20px;
}

